
#acode-stack_overflow_plugin {
  * { box-sizing: border-box; }
  
  .mainApp {
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    background: var(--primary-color);
  }
  
  .chatBox {
    height: 100%;
    width: 100%;
    white-space: pre-wrap;
    overflow-y: auto;
  }

.wrapper {
    padding-block: 12px;
    padding-inline: 10px;
    
    .chat {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      
      .profile {
        height: 35px;
        width: 35px;
        border-radius: 8px;
        background: #5436DA;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img { width: 60%; }
      }

     .message {
        flex: 1;
        color: var(--primary-text-color);
        font-size: 16px;
        line-height: 1.5;
        user-select: text;
      }
    }
  }
  
