
#acode-stack_overflow_plugin {
  * { box-sizing: border-box; }
  
  .mainApp {
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    background: var(--primary-color);
  }
  
  .chatBox {
    height: 100%;
    width: 100%;
    white-space: pre-wrap;
    overflow-y: auto;
  }

.wrapper {
    padding-block: 12px;
    padding-inline: 10px;
    
    .chat {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      
      .profile {
        height: 35px;
        width: 35px;
        border-radius: 8px;
        background: #5436DA;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img { width: 60%; }
      }

     .message {
        flex: 1;
        color: var(--primary-text-color);
        font-size: 16px;
        line-height: 1.5;
        user-select: text;
      }
    }
 
  .copy-button{
        position: absolute;
        top: 4px;
        right: 8px;
        border: none;
        outline: none;
        border-radius: 8px;
        height: 24px;
        width: 28px;
        color: lightblue;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        background: rgb(26,34,46);
        box-shadow: 0 4px 0 #1b232f;
        transition: all 0.3s ease-in-out;
        &:active{
          box-shadow: 0;
          color: orange;
        }
      }
